<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.11.0/qs.js"></script>
    <script src="js/vue.js" type="text/javascript"></script>
</head>
<body>
<div id="app">
    <select v-model="prov" @change="changeCity()">
        <option disabled value="">---请选择---</option>
        <option v-for="prov in provList" :value="prov.areaId">{{prov.areaName}}</option>
    </select>
    <select v-model="city" @change="changeArea()">
        <option disabled value="">---请选择---</option>
        <option v-for="city in cityList" :value="city.areaId">{{city.areaName}}</option>
    </select>
    <select v-model="area">
        <option disabled value="">---请选择---</option>
        <option v-for="area in areaList" :value="area.areaId">{{area.areaName}}</option>
    </select>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            prov: "",
            provList: [],
            cityList: [],
            city: "",
            areaList: [],
            area: ""
        },
        methods: {
            changeCity() {
                this.city = "";
                this.area = "";
                this.areaList = [];
                axios.post("/area?parentId=" + this.prov)
                    .then(resp => {
                        console.log(resp);
                    })
            }
        }

    });
</script>
</html>