<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.11.0/qs.js"></script>

</head>
<body>
<div id="app">
    <select v-model="prov" @change="changeCity()">
        <option disabled value="">---请选择---</option>
        <option v-for="prov in provList" :value="prov.areaId">{{prov.areaName}}</option>
    </select>
    <select v-model="city" @change="changeArea()">
        <option disabled value="">---请选择---</option>
        <option v-for="city in cityList" :value="city.areaId">{{city.areaName}}</option>
    </select>
    <select v-model="area">
        <option disabled value="">---请选择---</option>
        <option v-for="area in areaList" :value="area.areaId">{{area.areaName}}</option>
    </select>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            prov: "",
            provList: [],
            cityList: [],
            city: "",
            areaList: [],
            area: ""
        },
        methods: {
            changeCity() {
                console.log(this.prov);
                //把选项指向到请选择
                this.city = "";
                //改省的时候 县区直接清空
                this.areaList = [];
                this.area = "";

                axios.get("/area?parentId=" + this.prov)
                    .then(respInfo => {
                        console.log(respInfo);
                        this.cityList = respInfo.data.data;
                    })

            },
            changeArea() {
                console.log(this.city);
                //把选项指向到请选择
                this.area = "";
                axios.get("/area?parentId=" + this.city)
                    .then(respInfo => {
                        console.log(respInfo);
                        this.areaList = respInfo.data.data;
                    })
            }
        },
        mounted() {
            axios.get("/area")
                .then(respInfo => {
                    console.log(respInfo);
                    this.provList = respInfo.data.data;
                })
        }

    });
</script>
</html>